includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 2
	phpVersion: 80000
	paths:
		- includes
		- npcink-abilities-toolkit.php
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	excludePaths:
		analyse:
			- vendor
			- dist
